{% extends "shop/base.html" %}
{% load static %}
{% block title %}
{{ product.name }}
{% endblock %}
{% block content %}
<div class="product-detail">
    <img src="{% if product.image %}{{ product.image.url }}
        {% else %}{% static 'img/no_image.png' %}{% endif %}">
    <h1>{{ product.name }}</h1> <h2>
    <a href="{{ product.category.get_absolute_url }}">{{product.category }}</a> </h2>
    <p class="price">${{ product.price }}</p>
    <form action="{% url 'shop:like_product' product.id %}" method="product">
        {% csrf_token %}
        <button type="submit" name="product_id" value="{{ product.id }}" class="btn btn-primary">Like</button>
    </form>
    {{ product.description|linebreaks }} </div>
{% endblock %}